[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
jupyter = "*"
matplotlib = "*"
seaborn = "*"
mpl-toolkits = "*"

[dev-packages]

[requires]
python_version = "3"

[scripts]
notebook = "jupyter notebook"
